  <h1><%=@game.players[:player_1].name%> vs <%=@game.players[:player_2].name%></h1>

    <p><%=@game.players[:player_2].name%>: <%=@game.players[:player_2].hp%>HP</p>

    <form action="/attack" >
      <input type="submit" value="<%=@game.players[:player_1].name%> Attack!">
      </form>
